* {
  background-color: #282c34;
  font-family: 'gilroy';
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(68, 68, 68);
  height: 100vh;
  font-size: 10px;
}

.container--flex {
  display: flex;
}

.nav-link {
  color: rgb(245, 179, 47);
}
