* {
  background-color: #282c34;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
  height: 100vh;
}

code {
  font-family: 'gilroy';
}

.container--flex {
  display: flex;
  background-color: #282c34;
}
